$border-radius : 3px;
$border: 1px solid #a0a0a0;

$font-size-small: 13px;
$font-size-regular: 16px;

$font-size-header: 20px;
$font-size-subheader: 24px;

$text-color: #1f1f1f;

$font-weight-nomal: 400;

$font-weight-bold: 600;

$font-weight-thin: 200;

