<div class=home>
  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
      <div class="user ht-flex">
        <img src="assets/images/user.png" />
        <div class="name">{{fullName}}</div>
        <mat-icon mat-button [matMenuTriggerFor]="menu" class="icon-setting"></mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item disabled>Đổi mật khẩu</button>
          <button mat-menu-item disabled>Cập nhật ảnh đại diện</button>
          <button mat-menu-item (click)="logout()">Đăng xuất</button>
        </mat-menu>
      </div>
      <mat-toolbar color="primary">
        <mat-toolbar-row [routerLink]="getRouteForSchedule()">
          <span>Đăng kí lịch làm việc</span>
        </mat-toolbar-row>

        <mat-toolbar-row [routerLink]="getRouteForEmployee()">
          <span>Chấm công</span>
        </mat-toolbar-row>

        <mat-toolbar-row routerLink="/home/produce-point" *ngIf="isLead">
          <span>Điểm năng suất</span>
        </mat-toolbar-row>

        <mat-toolbar-row routerLink="/home/manage-group" *ngIf="isLead">
          <span>Quản lý các nhóm</span>
        </mat-toolbar-row>

        <mat-toolbar-row routerLink="/home/manager-pbi" *ngIf="false">
          <span>Quản lý PBI</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="pacman">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>