@import '../../../../../assets/scss/common.scss';
@import '../../../../../assets/scss/mixin.scss';
@import '../../../../../assets/scss/urlImage.scss';
@import '../../../../../assets/scss/style.scss';
@import "~bootstrap/scss/bootstrap.scss";

:host {
  .example-container {
    min-height: 300px;
    overflow: auto;
  }

  table {
    width: 100%;
  }

  tr.mat-footer-row {
    font-weight: bold;
  }

  .mat-table-sticky {
    border-top: 1px solid #e0e0e0;
  }
  
}
