<div class="container-body">
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="right-16 justify-content-center">Thống kê năng suất theo tuần</h3>
    <div class="d-flex align-items-center">
				<mat-form-field class="right-16">
					<mat-select #iyear [value]="yearSelected">
						<ng-container *ngFor="let year of years">
								<mat-option [value]="year">Năm {{year}}</mat-option>
						</ng-container>
					</mat-select>
				</mat-form-field>
				<mat-form-field class="right-16">
						<mat-select #imonth [value]="monthSelected">
							<ng-container *ngFor="let month of months">
									<mat-option [value]="month">Tháng {{month}}</mat-option>
							</ng-container>
						</mat-select>
					</mat-form-field>
					<button type="button" class="btn btn-success" (click)="getDataByDate(iyear.value,imonth.value)">Lấy dữ liệu</button>
			</div>
  </div>
  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="transactions">
      <!-- Week Column -->
      <ng-container matColumnDef="Week">
        <th mat-header-cell *matHeaderCellDef> Tuần </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.Week}} </td>
        <td mat-footer-cell *matFooterCellDef> Tổng điểm </td>
      </ng-container>

      <!-- EffortScore Column -->
      <ng-container matColumnDef="EffortScore">
        <th mat-header-cell *matHeaderCellDef> Điểm năng suất </th>
        <td mat-cell *matCellDef="let transaction">{{transaction.EffortScore}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- MinusScore Column -->
      <ng-container matColumnDef="MinusScore">
        <th mat-header-cell *matHeaderCellDef> Điểm trừ </th>
        <td mat-cell *matCellDef="let transaction">{{transaction.MinusScore}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- finalScore Column -->
      <ng-container matColumnDef="FinalScore">
        <th mat-header-cell *matHeaderCellDef> Điểm ghi nhận </th>
        <td mat-cell *matCellDef="let transaction">{{getFinalScore(transaction)}}</td>
        <td mat-footer-cell *matFooterCellDef>{{getTotalScore()}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>
  <hr>
  <app-calendar [viewDate]="getDate()" (date)="selectDate($event)"></app-calendar>
  <hr>

</div>
