<div class="container">
  <h3 class="d-flex justify-content-between">
    <div>Danh sách công việc trong ngày</div>
    <button class="btn btn-primary pull-right" (click)="addTask()">
      Thêm mới
    </button>
  </h3>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Loại công việc</th>
        <th>Tên công việc</th>
        <th>Điểm năng suất</th>
        <th>Điểm phạt</th>
        <th>Điểm ghi nhận</th>
        <th>Ghi chú</th>
        <th>Xóa</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let task of tasks">
        <td>
          <div class="form-control select-type">
            <select>
              <option value="0">297080</option>
              <option value="1" checked>297080</option>
            </select>
          </div>

        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="task.TaskName"/>
        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="task.EffortPoint"/>
        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="task.MinusPoint" />
        </td>
        <td>
          <input class="form-control" type="text" placeholder="Not set" [(ngModel)]="task.FinalScore" />
        </td>
        <td>
          <input class="form-control" type="text" placeholder="Not set" [(ngModel)]="task.Note"/>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteTask(task)">
            Xóa
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-danger right-16" (click)="cancelDialog()">Hủy bỏ</button>
    <button type="button" class="btn btn-primary " (click)="saveData()">Lưu</button>
  </div>
</div>
