<div class="container">
  <h3 class="d-flex justify-content-between">
    <div>Danh sách công việc trong ngày</div>
    <button class="btn btn-primary pull-right" (click)="addTask()">
      Thêm mới
    </button>
  </h3>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>PBI</th>
        <th>Tên công việc</th>
        <th>Điểm năng suất</th>
        <th>Điểm phạt</th>
        <th>Điểm ghi nhận</th>
        <th>Ghi chú</th>
        <th>Xóa</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let task of tasks" [ngClass]="{'task-deleted': task.Deleted}">
        <td>
            <input cdkFocusInitial type="text" style="min-width:80px" class="form-control" [(ngModel)]="task.PBI">
        </td>
        <td>
          <input type="text" class="form-control" style="min-width:300px" [(ngModel)]="task.TaskName" placeholder="Nhập tên công việc vào đây"/>
        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="task.EffortScore"/>
        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="task.MinusScore" />
        </td>
        <td>
          <input class="form-control" disabled [value]="getFinalScore(task)" />
        </td>
        <td>
          <input class="form-control" type="text" placeholder="enter để thêm mới" style="min-width:150px" [(ngModel)]="task.Note" (keydown.enter)="addTask()"/>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteTask(task)">
            Xóa
          </button>
        </td>
      </tr>
      <tr>
        <td>Tổng điểm</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="d-flex align-items-center justify-content-center">{{getTotalScore()}}</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end" mat-dialog-actions>
    <button type="button" class="btn btn-danger right-16" (click)="cancelDialog()">Hủy bỏ</button>
    <button mat-button type="button" class="btn btn-primary " (click)="saveData()" [mat-dialog-close]="'dữ liệu từ dialog'">Lưu</button>
  </div>
</div>
