<ng-container *ngFor="let employee of employees">

<div class="container-body">
<table class="table table-small table-bordered table-hover text-nowrap">
  <thead class="thead-highlight">
    <tr>
      <th scope="col" colspan="6">Dev Lead: {{employee.FullName}}</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of employee.ListEmployee; index as i">
      <th class="max-width-150" scope="row">{{i+1}}</th>
      <td class="max-width-150">{{user.FullName}}</td>
      <td class="max-width-150"><button type="button" class="btn btn-primary" (click)="navigateEffort(user.UserID)">Xem điểm năng suất</button></td>
      <td class="max-width-150"><button type="button" class="btn btn-primary" (click)="navigateSchedule(user.UserID,user.FullName)">Xem lịch làm việc</button></td>
      <td class="max-width-150"><button type="button" class="btn btn-warning" (click)="editUser(user)">Sửa thông tin</button></td>
      <td class="max-width-150"><button type="button" class="btn btn-danger" (click)="deleteUser(user)">Xóa</button></td>
    </tr>
  </tbody>
</table>

</div>
</ng-container>
<notifier-container></notifier-container>
