<div class="container-body container">

<table class="table table-bordered table-striped table-hover text-nowrap">
  <thead>
    <tr>
      <th scope="col" colspan="6">Dev Lead: Dương Trung Thảo</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Nguyễn Việt Cường</td>
      <td><button type="button" class="btn btn-primary">Xem điểm năng suất</button></td>
      <td><button type="button" class="btn btn-primary">Xem lịch làm việc</button></td>
      <td><button type="button" class="btn btn-warning">Sửa thông tin</button></td>
      <td><button type="button" class="btn btn-danger">Xóa</button></td>
    </tr>
  </tbody>
</table>  

</div>